<%= form_tag('/search', method: :post, class: 'form-horizontal') do %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Search</h3>
  </div>

  <div class="modal-body">
      <%= text_field_tag 'badge', nil, placeholder: 'Enter Search Term', class: 'input-xlarge span5' %>

        <%= submit_tag 'Search using Badge', class: 'btn btn-success' %>
        <br>
        <br>
        <br>
        <center>
          <b>Or</b>
        </center>
      <br>
      Select an <b>Age Level</b><br>
      <% age_level_options.each do |age_level| %>
        <%= check_box_tag 'age_level[]', age_level -%>
        <%= age_level %>
      <% end %><br><br>
      Select a <b>Category</b><br>
      <% category_options.each do |category| %>
        <%= check_box_tag 'category[]', category -%>
        <%= category %>
      <% end %>
      <br><br>
      <center>
        <%= submit_tag 'Search via Age and Category', class: 'btn btn-success' %>
      </center>
  </div>

<% end %>
