<div class="span4">
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Next Three Events</a>
      </div>
      <%= render "events", events: @events %>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Badges</a>
      </div>

      <div id="collapseTwo" class="accordion-body collapse">
        <% @badges.each do |badge| %>
          <div class="accordion-inner">
            <div class="media">
              <%= image_tag badge.image, class: "media-object pull-left",
                alt: "image", width: "90", height: "90" %>
              <div class="media-body">
                <h4 class="media-heading"><%= badge.name %></h4>
                <ul class="unstyled">
                  <li><small><strong>Category:</strong> 
                    <%= badge.category %></small></li>
                  <li><small><strong>Age level:</strong>
                    <%= badge.age_level %></small></li>
                </ul>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    
    </div>
  </div>
</div>
