  
  <div id="landing">
    <div class="container">  
      <div class="row">
      <div class="span5">
        <h1>Manage your Girl Scout troop!</h1>  
      <p>Share your ideas.  Host and organize your troop, communicate with your members, maintain a shared calendar, find and plan badge-earning activities, share news, create newsletters, plan meetings, track progress of your troop and showcase their achievements!</p><br>
      <p>We are building custom features and are currently seeking beta testers.  Got a troop?  We'd love to invite you to try out Troopli and share your feedback and ideas!</p>
        <p><a href="#" class="btn btn-primary btn-action">Contact us!</a></p>  
      </div>
      <div class="span7">
        <div class="js-video">
        <iframe src="http://player.vimeo.com/video/38498748?title=0&amp;byline=0&amp;portrait=0&amp;color=38e8ae" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div id="content" class="txt-middle">
    <div class="container">
      <div class="row">
      <div class="span12">
      <h2>Great features to help you organize your troop!</h2>
        <hr class="dashed">       
      </div>  
    </div>  
      <div class="row">
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/lightbulb1.png?w=300&h=300">
        </div>
      <h2>Search Activities</h2>
      <p>Bounce is built on the awesome frontend framework Bootstrap, giving you easy access to all of its features.</p>  
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/homepage21.png?w=300&h=300">
        </div>
      <h2>Troop Page</h2>
      <p>Bounce uses the beautiful Open Sans Google Web Font and Glyphicons Pro to deliver highly scalable icons.</p> 
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/forum.png?w=610">
        </div>
      <h2>Discussion Forum</h2>
      <p>Bounce comes with several pages and colors, giving you a head start on creating a unique design.</p> 
      </div>      
    </div>
    <br>
    <br>
    <br>
          <div class="row">
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/news21.png?w=300&h=300">
        </div>
      <h2>Share News</h2>
      <p>Bounce is built on the awesome frontend framework Bootstrap, giving you easy access to all of its features.</p>  
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/badge1.png?w=300&h=300">
        </div>
      <h2>BadgeTracker</h2>
      <p>Bounce uses the beautiful Open Sans Google Web Font and Glyphicons Pro to deliver highly scalable icons.</p> 
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/gallery.png?w=300&h=300">
          
        </div>
      <h2>Share Photos</h2>
      <p>Bounce comes with several pages and colors, giving you a head start on creating a unique design.</p> 
      </div>      
    </div>
    <br>
    <br>
    <br>

    <div class="row">
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/newsletter1.png?w=300&h=300">
        </div>
      <h2>Send Newsletters</h2>
      <p>Bounce is built on the awesome frontend framework Bootstrap, giving you easy access to all of its features.</p>  
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/calendar1.png?w=300&h=300">
        </div>
      <h2>Calendar</h2>
      <p>Bounce uses the beautiful Open Sans Google Web Font and Glyphicons Pro to deliver highly scalable icons.</p> 
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/meeting1.png?w=300&h=300">
        </div>
      <h2>Meeting Planner</h2>
      <p>Bounce comes with several pages and colors, giving you a head start on creating a unique design.</p> 
      </div>      
    </div>
    <br>
    <br>
    <br>
          <div class="row">
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/roster1.png?w=300&h=300">
        </div>
      <h2>Attendance</h2>
      <p>Bounce is built on the awesome frontend framework Bootstrap, giving you easy access to all of its features.</p>  
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/budget1.png?w=300&h=300">
        </div>
      <h2>Budget Worksheet</h2>
      <p>Bounce uses the beautiful Open Sans Google Web Font and Glyphicons Pro to deliver highly scalable icons.</p> 
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/jobs1.png?w=300&h=300">
          
        </div>
      <h2>Jobs/Kaper Chart</h2>
      <p>Bounce comes with several pages and colors, giving you a head start on creating a unique design.</p> 
      </div>      
    </div>


    <hr class="dashed">       
      <div class="row">
      <div class="span4">
      <a class="thumbnail" href="">
        <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/hands.jpg?w=612&h=312">
      </a>    
      <h2>New Blog Post!</h2>
      <p>10 Ways For Daisies to Earn the Yellow Petal</p>
      </div>
      <div class="span4">
      <a class="thumbnail" href="">
        <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/pic.jpg?w=612&h=312">
      </a>
      <h2>Troop of the Month!</h2>
      <p>Daisy Troop 4730 (Long Island City, NY)</p>
      </div>
      <div class="span4">
      <a class="thumbnail" href="">
        <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/troop.png?w=612&h=312">
      </a>
      <h2>Join Troopli!</h2>
      <p>Troop leaders:  We'd love to hear your feedback!  Contact us if you'd like to become a beta tester.  All age levels welcome!</p>
      </div>      
    </div>  
 
    </div>
  </div>


<h1>Listing troops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Age level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @troops.each do |troop| %>
      <tr>
        <td><%= troop.name %></td>
        <td><%= troop.description %></td>
        <td><%= troop.picture %></td>
        <td><%= troop.age_level %></td>
        <td><%= link_to 'Show', troop %></td>
        <td><%= link_to 'Edit', edit_troop_path(troop) %></td>
        <td><%= link_to 'Destroy', troop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Troop', new_troop_path %>
